<% locationpins.reverse_each do |locationpin| %>
  <div class="list-group">
    <div class="list-group-item">
     <h3 class="location-names list-group-item-heading">
      <%= link_to locationpin.name, location_path(locationpin) %></h3>

      <%= link_to content_tag(:button, 'Add Post', class: "label label-info add-post-label"), new_trip_post_path(locationpin.trip.id, data: { :'locationname' => locationpin.location.name } ) %>

      <% get_posts(locationpin).reverse_each do |post| %>
      <li class="list-group-item-text"><%= link_to post.title, post_path(post) %></li>
     <% end %>
    </div>
  </div>
<% end %>
