<div id="side" class="col-md-2">
  <h1>Trips</h1>
  <div class="btn-group">
    <button id="new-trip" type="button" class="btn btn-info"><%= link_to "New Trip", @trip, remote: true %></button>
      <br><br>
        <form class='input-group hidden' action='/trips/#{@trip.id}' method='post' id='trip-create'>
          <input type='text' class='form-control' placeholder='My Road Trip Summer 2011'>
          <span class='input-group-btn'>
          <input type='submit' class='btn btn-default' value='+'></span>
        </form>
      <br>
  </div>
  <div id='sidebar-new-trip'></div>
  <ul class='list-group'>
    <% @trips.reverse_each do |trip| %>
      <% if trip.user.id == session[:user_id] %>
        <li class="list-group-item"><%= link_to trip.title, trip_path(trip), data: { :'trip-id' => trip.id} %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div id="map" class="col-md-10">
   <div id="map-canvas"></div>
</div>
