<div id="side" class="col-md-2">  
  <h1>Trips</h1>
  <div class="btn-group">
    <button id="draw-route" type="button" class="btn btn-primary">Draw Route</button>
    <button id="new-trip" type="button" class="btn btn-info"><%= link_to "New Trip", @trip, remote: true %></button>
      <br><br>
        <form class='input-group hidden' action='/trips/#{@trip.id}' method='post' id='trip-create'>
          <input type='text' class='form-control' placeholder='My Road Trip Summer 2011'>
          <span class='input-group-btn'>
          <input type='submit' class='btn btn-default' value='+'></span>
        </form>
      <br>
  </div>
  <div id='sidebar-new-trip'></div>
  <ul class='list-group'>
    <% @trips.each do |trip| %>
      <li class="list-group-item"><%= link_to trip.title, trip_path(trip) %><%= link_to content_tag(:span, '+', class: "badge"), root_path, remote: true, data: { :'trip-id' => trip.id}, class: 'marker_load' %></li>
    <% end %>
  </ul>
</div>

<div id="map" class="col-md-10">
   <div id="map-canvas"></div>
</div>