<h1>Trips Index Page</h1>
<%= link_to "New Trip", @trip, remote: true, id: "new-trip" %>
<div id='sidebar-new-trip'></div>
<ul class='list-group'>
  <% @trips.each do |trip| %>
    <li class="list-group-item"><%= link_to trip.title, trip_path(trip), remote: true, data: { :'trip-id' => trip.id} %></li>
  <% end %>
</ul>
