<h1>Create New Trip</h1>

<%= form_for(@trip, remote: true) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.submit %>

<% end %>

<%#Grrrrr...why are you shipping this to users? %>

<!-- In JavaScript
To create a new trip-as-vacation-destination:
-Type the name of the location in the sidebar and hit enter
-Use AJAX to capture the location name and send it to the server
*** IN RUBY ****
-Create a new trip instance
-Create the coords with geocoder
-Create a location pin to match the coords
- Send the coordinates and trip title back to the client
***** IN JS *****
-Create a marker with the given coordinates
-Place the marker on the map in the correct place
-Display a text box with the trip title, option to enter blog text,
  and option to upload a photo


-->

<!-- $("#new_article").on("ajax:success", (e, data, status, xhr) ->
    $("#new_article").append xhr.responseText
  ).on "ajax:error", (e, xhr, status, error) ->
    $("#new_article").append "<p>ERROR</p>" -->
