<div id="side" class="col-md-2">
  <h2><%= @trip.title %></h2>
  <div class="btn-group">
    <button id="draw-route" type="button" class="btn btn-primary">Draw Route</button>
    <button type="button" class="btn btn-warning"><%= link_to "All Trips", trips_path %></button>
  </div>
  <%= render partial: "loc_posts", locals: {locationpins: @locationpins} %>
  <%= link_to "Go pins", root_path, remote: true, data: { :'trip-id' => @trip.id}, id: 'auto_load_pins', class: 'hidden' %>
</div>

<div id="map" class="col-md-10">
   <div id="map-canvas"></div>
</div>
