language: ruby
rvm:
  # - 1.9.3
  # - 2.0.0
  # - 2.1.0
  - "2.1.1"
  # - ruby-head
  # - jruby-18mode # JRuby in 1.8 mode
  # - jruby-19mode # JRuby in 1.9 mode
  # - rbx-2
  # - rbx-2.1.1

  # uncomment this line if your project needs to run something other than `rake`:
script: bundle exec rspec spec
before_script:
  - psql -c 'create database TravelBlog_test;' -U postgres
