
<div id="side" class="col-md-2">

</div>

<div id="map" class="col-md-10">
  <h1>All Blog Posts for <%= @location.name %></h1>
  <h3><%= @trip_title %></h3>
  <% @posts.each do |post| %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success"> <%= link_to post.title, post_path(post) %></li>
    <li class="list-group-item"><%= post.body %></li>
  </ul>
  <% end %>
</div>
