<h3>Login and Sign Up</h3>

<div class="error-message">
  <% if flash[:login_error] %>
    <%= flash[:login_error]%><br>
  <% end %><br>
</div>

<div id="side" class="col-md-2">
  <%= render "login" %><br><br>

  <%= render "signup" %>
</div>