<div id="side" class="col-md-2">
  <%= link_to "All Trips", trips_path, class: "btn" %>
  <h2><%= @trip.title %></h2>
  <hr>
  <% @locations.reverse_each do |location| %>
     <h3 class="location-names"><%= location.name %></h3>
     <% get_posts(location).each do |post| %>
      <%= link_to post.title, post_path(post) %>
     <% end %>
  <% end %>
  <div class="clearfix">&nbsp;</div>
</div>
