<div id="side" class="col-md-2">
  <div class="btn-group">
    <%= render partial: "trips/back_to_trip_new_post", locals: {trip: @trip} %>
  </div>
  <div id='trip-show-container'>
    <%= render partial: "trips/loc_posts", locals: {locationpins: @location_pins} %>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>
<div class="col-md-10">
  <div class="panel panel-info">
    <h1 class="panel-heading"><%= @post.title %></h1>
    <div class="panel-body"><%= @post.body %></div>
  </div>
</div>
