html, body {
  height: 100%;
}

body{
  padding-top: 50px;
}

#side { 
  height: 100%;
  float:left; 
  background: rgb(44,44,44);
  background: -moz-linear-gradient(top,  rgba(44,44,44,1) 0, rgba(25,25,25,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(44,44,44,1)), color-stop(100%,rgba(25,25,25,1)));
  background: -webkit-linear-gradient(top,  rgba(44,44,44,1) 0,rgba(25,25,25,1) 100%);
  background: -o-linear-gradient(top,  rgba(44,44,44,1) 0,rgba(25,25,25,1) 100%);
  background: -ms-linear-gradient(top,  rgba(44,44,44,1) 0,rgba(25,25,25,1) 100%);
  background: linear-gradient(to bottom,  rgba(44,44,44,1) 0,rgba(25,25,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#191919',GradientType=0 );
  color: white;
}

#side input {
  color: black;
}

#map { 
  height: 100%;
  padding-left: 0 !important;
}
#map-canvas { 
  height: 100%;
  position: fixed !important;
  top: 50px;
  width: 100%;
}

.quick-overlay {
  background: white;
  position: absolute;
  z-index: 9999999;
  padding: 2em;
}

.marker_load {
  float: right;
}

button a {
  color: white;
}

button a:hover {
  text-decoration: none;
}

textarea {
  color: black;
}